@import "tailwindcss";

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-100;
  }
}

@layer utilities {
  .delay-75 {
    animation-delay: 75ms;
  }
  .delay-150 {
    animation-delay: 150ms;
  }
  
  /* Smooth scrolling */
  .scroll-smooth {
    scroll-behavior: smooth;
  }
}
